[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3"

[packages]
PyYAML = "~=5.3.1"

[dev-packages]
pylint = "~=2.2.2"
pytest = "~=3.5.0"
pytest-cov = "~=2.5.0"
flake8 = "~=3.7.7"
autoflake = "~=1.3.1"
autopep8 = "~=1.3.0"
mypy = "~=0.670"
black = "==19.3b0"
